<app-navbar></app-navbar>
<div class="container-box">
    <div class="text text1">
        <div class="parallax-wrap">
            <div class="parallax-element">
                <a href="/Solution">
                    <h2 style="color: white;">Geospatial<br>Solutions</h2>
                </a>
            </div>
        </div>
    </div>
    <div class="text text3">
        <div class="parallax-wrap">
            <div class="parallax-element">
                <a href="/Services">
                    <h2 style="color: white;">Geospatial<br>Service </h2>
                </a>
            </div>
        </div>
    </div>
    <div class="text text2">
        <div class="parallax-wrap">
            <div class="parallax-element">
                <a href="/Training">
                    <h2 style="color: white;">Training</h2>
                </a>
            </div>
        </div>
    </div>  
    <div class="center-box">
        <app-earth></app-earth>
    </div>
</div>
<app-footer></app-footer>