<body>
    <app-navbar></app-navbar>
    <main class="main mt-70">
        <div class="cover-home1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-1"></div>
                    <div class="col-xl-10 col-lg-12">
                        <div class="banner banner-home2">
                            <div class="text-center">
                                <h6 class="color-gray-600">Welcome to our blog</h6>
                                <h1 class="color-white">Being<span class="gradient-Coretext"> Unique</span>
                                    is better<br class="d-none d-lg-block">than being
                                    <span class="gradient-Coretext">Erfect</span>
                                </h1>
                            </div>
                        </div>
                        <!-- Error Message -->
                        <div *ngIf="error" class="alert alert-danger mt-20">
                            {{ error }}
                        </div>
                        <!-- Loading Spinner -->
                        <div *ngIf="isLoading" class="text-center mt-20">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <!-- Blog Posts -->
                        <div *ngIf="!isLoading && posts.length > 0" class="row mt-70 g-1">
                            <div class="col-lg-4" *ngFor="let post of posts">
                                <div class=" main-card p-1 wow animate__animated animate__fadeIn" data-wow-delay="0">
                                    <!-- <div class="border-effect"></div> -->
                                    <div class="outer-border card-blog-1 hover-up">
                                        <div class="border-glow"></div>
                                        <div class="animated-card card-container">
                                            <div class="card-image mb-20">
                                                <a class="post-type" href="/Blog/{{ post._id }}"></a>
                                                <a href="/Blog/{{ post._id }}">
                                                    <img [src]="'https://geomakani.com/CMS/storage/uploads/'+post.header_image?.path"
                                                        [alt]="post.title" />
                                                </a>
                                            </div>
                                            <div class="card-info">
                                                <div class="row">
                                                    <!-- <div class="col-7 text-align-left">
                                                        <a class="color-gray-700 text-sm">
                                                            <span *ngFor="let tag of post.tags; let isLast=last">
                                                                #{{ tag }}{{ isLast ? '' : ', ' }}
                                                            </span>
                                                        </a>
                                                    </div> -->
                                                    <div class="col-7 text-align-left">
                                                        <a class="color-gray-700 text-sm">
                                                            <ng-container *ngIf="post.tags?.length">
                                                                <span>
                                                                    #{{ post.tags[0] }}
                                                                    <ng-container *ngIf="post.tags.length > 1">, #{{
                                                                        post.tags[1] }}</ng-container>
                                                                    <ng-container
                                                                        *ngIf="post.tags.length > 2">...</ng-container>
                                                                </span>
                                                            </ng-container>
                                                        </a>
                                                    </div>

                                                    <div class="col-5 text-end">
                                                        <span class="color-gray-700 text-sm timeread">
                                                            {{ post.read_time || 'N/A' }} mins read
                                                        </span>
                                                    </div>
                                                </div>
                                                <a href="/Blog/{{ post._id }}" class="text-align-left">
                                                    <h4 class="color-white mt-20 mb-20">{{ post.title }}</h4>
                                                </a>
                                                <div class="row last-card align-items-center">
                                                    <div class="col-7">
                                                        <div class="box-author">
                                                            <img [src]="post.creator_image || 'assets/imgs/page/homepage1/author.jpg'"
                                                                [alt]="post.Creator" />
                                                            <div class="author-info">
                                                                <h6 class="color-gray-700">{{ post.Creator }}</h6>
                                                                <span class="color-gray-700 text-sm">
                                                                    {{ post._created * 1000 | date: 'dd MMMM yyyy' }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-5 text-end">
                                                        <a class="readmore color-gray-500 text-sm"
                                                            href="/Blog/{{ post._id }}">
                                                            <span>Read more</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- No Posts Message -->
                        <div *ngIf="!isLoading && posts.length === 0 && !error" class="text-center mt-20">
                            <p class="color-gray-500">No blog posts available.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</body>