<body style="background-color: #161b1e">
    <div class="cd-index cd-main-content">
        <!-- Page Content -->
        <canvas id="map" class="position-absolute"></canvas>
        <div id="page-content" class="light-content" data-bgcolor="#14141428">
            <div class="pagebackgroundcolor">
                <header class="classic-menu bg-black">
                    <div id="header-container">
                        <!-- Logo -->
                        <div id="logo" class="hide-ball disable-drag">
                            <a class="ajax-link" data-type="page-transition" href="index.html">
                                <img class="white-logo logo-big" src="https://i.ibb.co/0jLQ3dzS/bitmap2323.webp"
                                    alt="Logo White" />
                                <img class="black-logo logo-big" src="https://i.ibb.co/0jLQ3dzS/bitmap2323.webp"
                                    alt="Logo Black" />
                            </a>
                        </div>
                        <!--/Logo -->
                        <nav class="menu-main-menu-container">
                            <div class="nav-height">
                                <div class="outer">
                                    <div class="inner">
                                        <ul id="menu-main-menu" data-breakpoint="1025" class="flexnav menu">
                                            <li id="menu-item-4808"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-3826 current_page_item menu-item-4808 link menu-timeline active">
                                                <a href="/Home" aria-current="page" data-type="page-transition"
                                                    class="ajax-link">
                                                    <div class="before-span">
                                                        <span data-hover="Home">Home</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li id="menu-item-4809"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-3826 current_page_item menu-item-4808 link menu-timeline active">
                                                <a href="/about" aria-current="page" data-type="page-transition"
                                                    class="ajax-link active">
                                                    <div class="before-span">
                                                        <span data-hover="WHO WE ARE">WHO WE ARE</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li id="menu-item-4801"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4801 link menu-timeline">
                                                <a href="/what-we-do">
                                                    <div class="before-span">
                                                        <span data-hover="What We Do">What We Do </span>
                                                    </div>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-15"
                                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15 link">
                                                        <a href="">Products</a>
                                                    </li>
                                                    <li id="menu-item-14"
                                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14 link">
                                                        <a href="/Solution">Solutions</a>
                                                    </li>
                                                    <li id="menu-item-13"
                                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13 link">
                                                        <a href="">Services</a>
                                                    </li>
                                                </ul>
                                            </li>
    
                                            <li id="menu-item-4690"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4690 link menu-timeline">
                                                <a href="" data-type="page-transition" class="ajax-link">
                                                    <div class="before-span">
                                                        <span data-hover="Contact">Contact</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <!-- Menu Burger -->
                        <div class="button-wrap right menu disable-drag">
                            <div class="icon-wrap parallax-wrap">
                                <div class="button-icon parallax-element">
                                    <div id="burger-wrapper">
                                        <div id="menu-burger">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button-text sticky right">
                                <span data-hover="Menu">Menu</span>
                            </div>
                        </div>
                        <!--/Menu Burger -->
                    </div>
                </header>
                <div id="content-scroll">
                    <!-- Main -->
                    <div id="main">
                        <!-- Hero Section -->
                        <div id="hero">
                            <div id="hero-styles">
                                <div id="hero-caption" class="parallax-onscroll text-align-center">
                                    <div class="inner">
                                        <div class="hero-title"><span data-text="About">About</span>
                                        </div>
                                        <div class="hero-subtitle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/Hero Section -->
                        <!-- Main Content -->
                        <div id="main-content" class="mt-5">
                            <div id="main-page-content">
                                <div class="wp-block-rayden-gutenberg-container"
                                    style="background-color: transparent; text-align: left">
                                    <!-- <p class="has-text-align-center has-medium-font-size">As the world population
                                            increases and the natural resources decrease, agriculture is becoming more and
                                            more important for food &amp; land security.</p> -->
                                    <div class="wp-block-rayden-gutenberg-container"
                                        style="background-color: transparent; text-align: left">
                                        <div style="height: 27px" aria-hidden="true" class="wp-block-spacer"></div>
                                        <div class="is-layout-flex wp-container-3 wp-block-columns">
                                            <div class="is-layout-flow wp-block-column" style="flex-basis: 100%">
                                                <div class="wp-block-rayden-gutenberg-container text-align-center"
                                                    style="background-color: transparent; text-align: center;">
                                                    <h4>WHO WE ARE?</h4>
                                                    <p class="white">
                                                        An Egyptian company established in 2019 in Cairo, Egypt.
                                                        Geomakani is a Pioneering Business Development System Integrator and
                                                        Geospatial Events Company committed to driving innovation and
                                                        empowering organizations.
                                                        We specialize in integrating cutting-edge geospatial technologies to
                                                        optimize business processes, enhance efficiency, and unlock new
                                                        growth opportunities in the Middle East & Africa.
                                                        Geomakani is taking the lead of working in the Middle East & Africa
                                                        under the umbrella of STADIA Group.
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- <div class="is-layout-flow wp-block-column" style="flex-basis:66.66%">
                                                    <figure class="disable-drag has-animation "><a class="image-link"
                                                            href="../wp-content/uploads/2022/05/agri-sml-01.jpg"><img              
                                                                src="../wp-content/uploads/2022/05/agri-big-01.jpg"
                                                                alt="" /></a>
                                                        <figcaption></figcaption>
                                                    </figure>
                                                </div> -->
                                        </div>
                                        <div style="height: 100px" aria-hidden="true" class="wp-block-spacer"></div>
                                    </div>
                                    <div class="wp-block-rayden-gutenberg-container"
                                        style="background-color: transparent; text-align: left">
                                        <!-- <div style="height: 27px" aria-hidden="true" class="wp-block-spacer"></div> -->
                                        <div class="is-layout-flex wp-container-3 wp-block-columns">
                                            <div class="is-layout-flow wp-block-column vision-mission" style="flex-basis: 100%; margin-bottom: 10%; ">
                                                <div class="wp-block-rayden-gutenberg-container text-align-center style-vm"
                                                    style="background-color: transparent; text-align: center;">
                                                    <img src="../../assets/Image/icons8-vision-100.png">
                                                    <h4>Our Vision</h4>
                                                    <p class="white">
                                                        To empower our clients
                                                        with innovative Geospatial
                                                        solutions that exceed
                                                        expectations.
                                                    </p>
                                                </div>
                                                <div class="wp-block-rayden-gutenberg-container text-align-center style-vm"
                                                    style="background-color: transparent; text-align: center;">
                                                    <img src="../../assets/Image/target.png" style="max-width: 100px;">
                                                    <h4>Our Mission</h4>
                                                    <p class="white">
                                                        Connecting Geospatial
                                                        Communities through
                                                        strategic partnerships and
                                                        events.
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- <div class="is-layout-flow wp-block-column" style="flex-basis:66.66%">
                                                    <figure class="disable-drag has-animation "><a class="image-link"
                                                            href="../wp-content/uploads/2022/05/agri-sml-01.jpg"><img
                                                                src="../wp-content/uploads/2022/05/agri-big-01.jpg"
                                                                alt="" /></a>
                                                        <figcaption></figcaption>
                                                    </figure>
                                                </div> -->
                                        </div>
                                        <!-- <div style="height: 100px" aria-hidden="true" class="wp-block-spacer"></div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="wp-block-rayden-gutenberg-container" data-scroll-container
                                style="background-color: #161b1e; text-align: left">
                                <div class="contain-coreValue pb-4" style="background-color: rgba(0, 0, 0, 0.5)">
                                    <div style="height: 27px" aria-hidden="true" class="wp-block-spacer"></div>
                                    <div data-scroll-section
                                        class="is-layout-flex flex-column wp-container-3 wp-block-columns">
                                        <div class="is-layout-flow wp-block-column" style="flex-basis: 100%">
                                            <div class="headcore wp-block-rayden-gutenberg-container text-align-center"
                                                style="background-color: transparent; text-align: center;">
                                                <h1 data-scroll>Core Value</h1>
                                            </div>
                                            <!-- <div class="container">
                                                <div class="card">
                                                    <div class="contain-image">
                                                        <figure
                                                            class="wp-block-image size-full is-resized wp-duotone-000000-7f7f7f-13">
                                                            <img decoding="async" src="assets/icons/shield.png" alt=""
                                                                class="wp-image-4900" width="45%" height="auto" />
                                                        </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <h2 class="card-title">Integrity</h2>
                                                        <p class="card-description">Maintaining honesty, transparency, and
                                                            ethical conduct in all business dealings.</p>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="contain-image">
                                                        <figure
                                                            class="wp-block-image size-full is-resized wp-duotone-000000-7f7f7f-13">
                                                            <img decoding="async" src="assets/icons/idea.png" alt=""
                                                                class="wp-image-4900" width="45%" height="auto" />
                                                        </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <h2 class="card-title">Innovation</h2>
                                                        <p class="card-description">Continuously seeking new and creative
                                                            approaches to event planning and execution.</p>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="contain-image">
                                                        <figure
                                                            class="wp-block-image size-full is-resized wp-duotone-000000-7f7f7f-13">
                                                            <img decoding="async" src="assets/icons/excellence.png" alt=""
                                                                class="wp-image-4900" width="45%" height="auto" />
                                                        </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <h2 class="card-title">Excellence</h2>
                                                        <p class="card-description">Striving for perfection in every aspect
                                                            of event planning and execution.</p>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="contain-image">
                                                        <figure
                                                            class="wp-block-image size-full is-resized wp-duotone-000000-7f7f7f-13">
                                                            <img decoding="async" src="assets/icons/adapt.png" alt=""
                                                                class="wp-image-4900" width="45%" height="auto" />
                                                        </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <h2 class="card-title">Adaptability</h2>
                                                        <p class="card-description">Embracing change and adapting to
                                                            evolving industry trends and client needs.</p>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                        <!-- <div class="is-layout-flow wp-block-column" style="flex-basis:66.66%">
                                                        <figure class="disable-drag has-animation "><a class="image-link"
                                                                href="../wp-content/uploads/2022/05/agri-sml-01.jpg"><img
                                                                    src="../wp-content/uploads/2022/05/agri-big-01.jpg"
                                                                    alt="" /></a>
                                                            <figcaption></figcaption>
                                                        </figure>
                                                    </div> -->
                                        <div class="Value-container">
                                            <div class="values">
                                                <div class="card value">
                                                    <div class="contain-image">
                                                        <figure
                                                            class="wp-block-image size-full is-resized wp-duotone-000000-7f7f7f-13">
                                                            <img data-scroll decoding="async" src="assets/icons/shield.png"
                                                                alt="" class="wp-image-4900" width="45%" height="auto" />
                                                        </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <h2 data-scroll class="gradient-Coretext">Integrity</h2>
                                                        <p data-scroll class="card-description">Maintaining honesty,
                                                            transparency, and
                                                            ethical conduct in all business dealings.</p>
                                                    </div>
                                                </div>
                                                <div class="card value">
                                                    <div class="contain-image">
                                                        <figure
                                                            class="wp-block-image size-full is-resized wp-duotone-000000-7f7f7f-13">
                                                            <img data-scroll decoding="async" src="assets/icons/idea.png"
                                                                alt="" class="wp-image-4900" width="45%" height="auto" />
                                                        </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <h2 data-scroll class="gradient-Coretext">Innovation</h2>
                                                        <p data-scroll class="card-description">Continuously seeking new and
                                                            creative
                                                            approaches to event planning and execution.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="logo_core">
                                                <img data-scroll src="https://i.ibb.co/4gfgxPG9/Geomakani-logo-only.webp"
                                                    alt="Company Logo" width="100%">
                                            </div>
                                            <div class="values">
                                                <div class="card value">
                                                    <div class="contain-image">
                                                        <figure
                                                            class="wp-block-image size-full is-resized wp-duotone-000000-7f7f7f-13">
                                                            <img data-scroll decoding="async"
                                                                src="assets/icons/excellence.png" alt=""
                                                                class="wp-image-4900" width="45%" height="auto" />
                                                        </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <h2 data-scroll class="gradient-Coretext">Excellence</h2>
                                                        <p data-scroll class="card-description">Striving for perfection in
                                                            every aspect
                                                            of event planning and execution.</p>
                                                    </div>
                                                </div>
                                                <div class="card value">
                                                    <div class="contain-image">
                                                        <figure
                                                            class="wp-block-image size-full is-resized wp-duotone-000000-7f7f7f-13">
                                                            <img data-scroll decoding="async" src="assets/icons/adapt.png"
                                                                alt="" class="wp-image-4900" width="45%" height="auto" />
                                                        </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <h2 data-scroll class="gradient-Coretext">Adaptability</h2>
                                                        <p data-scroll class="card-description">Embracing change and
                                                            adapting to
                                                            evolving industry trends and client needs.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div style="height: 100px" aria-hidden="true" class="wp-block-spacer"></div> -->
                                </div>
                            </div>
                            <!-- Page Navigation -->
                            <div id="page-nav" style="background-color: #161b1e">
                                <div class="next-page-wrap2" style="background-color: rgba(0, 0, 0, 0.5)">
                                    <div class="next-page-title">
                                        <div class="inner">
                                            <div class="page-title-wrapper has-animation text-align-center">
                                                <a class="page-title next-ajax-link-page disable-drag"
                                                    href="/what-we-do"
                                                    data-type="page-transition" data-firstline="Read"
                                                    data-secondline="More">
                                                    <div class="next-hero-title">
                                                        <span>WHAT WE DO ...</span>
                                                    </div>
                                                    <div class="next-hero-subtitle">
                                                        <span>Are you ready for new Ecosystem Technologies?
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/Page Navigation -->
                        </div>
                        <!--/Main Content-->
                    </div>
                    <!--/Main -->
                    <!-- Footer -->
                    <app-footer></app-footer>
                    <!--/Footer -->
                </div>
                <div id="app"></div>
            </div>
        </div>
        <!--/Page Content -->
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
        style=" visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-000000-7f7f7f-13">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0.49803921568627" />
                    <feFuncG type="table" tableValues="0 0.49803921568627" />
                    <feFuncB type="table" tableValues="0 0.49803921568627" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <!--/Cd-main-content -->
    <!--/Main -->
    <div class="cd-cover-layer"></div>
    <!-- <div id="magic-cursor">
        <div id="ball">
            <div id="ball-drag-x"></div>
            <div id="ball-drag-y"></div>
            <div id="ball-loader"></div>
        </div>
    </div> -->
    <div id="clone-image"></div>
    <div id="rotate-device"></div>
</body>