<!-- <div class="wp-embed-responsive ">
    <main>
        <div class="preloader-wrap " data-firstline="Stay" data-secondline="Online." data-cursor-default-color="#f33a3a"
            data-cursor-hover-color="#f33a3a">
            <div class="outer">
                <div class="inner">
                    <div class="trackbar">
                        <div class="preloader-intro">VERTEX</div>
                        <div class="loadbar"></div>
                    </div>
                    <div class="percentage-intro">Loaded</div>
                    <div class="percentage-wrapper">
                        <div class="percentage" id="precent"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div> -->