#header-container{
    padding: 5px 80px 15px 80px;
    height: 100px;
}
#logo img{
    height: 65px    ;
}

header {
    width: 100%;
    height: 100px !important;
    left: 0;
    top: 0;
    background-color: transparent;
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
    pointer-events: none;
    transition: background 0s ease-in-out 0s;
    /* mix-blend-mode: exclusion; */
}

@media only screen and (max-width: 479px) {
    #header-container{
        padding: 0;
    }
    #logo img{
        height: 50px;
    }
    header{
        height: 80px;
    }
    #menu-burger span{
        background-color: #fff;
    }
}